## Synthesizer
synthesizer/raw_data/*
synthesizer/preprocessed_data/*
synthesizer/*.npy

## Vocoder
vocoder/ckpt/g_2500000_persian
vocoder/ckpt/g_2500000

## Outputs
output/*

## Data
dataset/Persian/synthesizer_data/*
dataset/Persian/resgrad_data/*
dataset/MS_Persian/synthesizer_data/*
dataset/MS_Persian/resgrad_data/*

## Others
commands.txt
*__pycache__/

